#navbar{
    display: flex;
    align-items: center;
    margin-top: 0px;
    position: absolute;
    width: 100%;
}
#logo{
    margin: 17px 33px;
    margin-left: 12px;
    height: 56px;
}
#logo img{
    height: 66px;
    width: 66px;
    margin-bottom: 3px;


}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 23px;
    border-radius: 13px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color: blanchedalmond;
}
.but{
    padding-left: 100px;
}